.categoryBackgroundGroup{
    background-color: whitesmoke;
    padding: 50px 50px;
    width: 100%;
    margin: 0;
}

.filterBackgroundPurple{
    background-color: #33156d;
}

.filterBackgroundYellow{
    background-color: #eeee00;
}

.tintImagePurple{
    transition: 0.3s;
    -webkit-filter: grayscale(1) contrast(1.5) brightness(0.8);
    filter: grayscale(1) contrast(1.5) brightness(0.8);
    mix-blend-mode: screen;
}

.tintImageYellow{
    transition: 0.3s;
    -webkit-filter: grayscale(1) brightness(1.5) contrast(0.5);
    filter: grayscale(1) brightness(1.5) contrast(0.5);
    mix-blend-mode: multiply;
}

.tintImage:hover{
    -webkit-filter:none;
    filter: none;
    mix-blend-mode: normal;
}

.banFrame{
    border: solid 3px black;
}

.fullwidth{
    width: 100%;
}

.featuredComics{
    border: solid 3px black;
}


.textBanner{
    position: absolute;
    transform: skew(-20deg);
    z-index: 1;
}

.fontRusso{
    padding: 0px 5px;
    margin-top: -10px;
    margin-left: 20px;
    color: white;
    -webkit-text-stroke: 1.5px black;
    font-family: 'russo_oneregular';
    text-shadow: -2px 2px 0px yellow;
}

.fontDescription{
    padding: 5px;
    margin-top: -50px;
    margin-left: 50px;
    color: white;
    border: solid 3px black;
    font-size:small;
    
}