<div class="categoryBackgroundGroup">
    <div class="row">
        <div class="col">
            <h4 class="textBanner fontRusso">Monthly selected</h4>
            <img class="banFrame fullwidth" alt="Site Logo" src="/assets/images/first.png"/>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <a [routerLink]="['/', 'publish']">
                <h4 class="textBanner fontRusso">Publish</h4>
                <div class="filterBackgroundPurple banFrame"><img class="tintImagePurple tintImage fullwidth" alt="Site Logo" src="/assets/images/third.png"/></div>
            </a>
        </div>
        <div class="col">
            <a [routerLink]="['/', 'collection']">
                <h4 class="textBanner fontRusso">Collection</h4>
                <div class="filterBackgroundYellow banFrame"><img class="tintImageYellow tintImage fullwidth" alt="Site Logo" src="/assets/images/second.png"/></div>
            </a>
        </div>
        <div class="col">
            <a [routerLink]="['/', 'news']">
                <h4 class="textBanner fontRusso">News</h4>
                <div class="filterBackgroundPurple banFrame"><img class="tintImagePurple tintImage fullwidth" alt="Site Logo" src="/assets/images/fourth.png"/></div>
            </a>
        </div>
        <div class="col">
            <a [routerLink]="['/', 'forums']">
                <h4 class="textBanner fontRusso">Forums</h4>
                <div class="filterBackgroundYellow banFrame"><img class="tintImageYellow tintImage fullwidth" alt="Site Logo" src="/assets/images/fifth.png"/></div>
            </a>
        </div>

    </div>
</div>