.categoryBackgroundIndividual{
    width: 100%;
    background-color: whitesmoke;
    padding: 5px 10px;
}

.containerCard{
    padding: 0px;
    width: 100% !important;
}

.readMoreCategoryText{
    text-align: center;
    background-color: whitesmoke;
    color: dimgray;
    border-color: rgba(245, 245, 245, 0);
    font-family: 'russo_oneregular';
    transform: skew(-20deg);
    width: 80%;
    transition: 0.3s;
}

.readMoreCategoryText:hover{
    background-color: var(--color);
    color: white;
    border-color: var(--color);
}

.titleCategory{
    margin-left: 25px;
    display: inline-block;
    width: 30%;
    color: white;
    -webkit-text-stroke: 1px var(--color);
    text-shadow: -1px 1px 0px var(--color);
    text-align: left;
    font-family: 'russo_oneregular';
    z-index: 3;
}

.titleBorderLine{
    height: 10px;
    display: inline-block;
    width: 65%;
    background-color: var(--color);
}

hr{
    margin-bottom: 5px;
}

br{
    margin-bottom: 3px;
}