.nav-link.active {
    font-weight: bold;
    color: yellow;
    background-color: #33156d;
    border-radius: 5px;
}

.nav-link {
    color: #33156d;
}

.containerSelection{
    padding-right: 10px;

}

.colorButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #33156d;
    font-weight: bold;
    color: yellow;
}