<ul ngbNav #nav="ngbNav" [(activeId)]="generoActivo" class="nav-tabs">
    <li [ngbNavItem]="genres?.id" *ngFor="let genres of genreList;">
        <a ngbNavLink class="pillColor">{{ genres?.name }}</a>
        <ng-template ngbNavContent>

            <div class="container">
                <div class="row">
                    <div class="col-2" *ngFor="let cCard of comicCardList;">
                        
                        <div class="row" *ngIf="cCard?.genre == genres?.id">
                            <app-card-page [cCardInfo]="cCard"></app-card-page>
                        </div>

                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary colorButton">Ver mas de {{ genres?.name }} <i-bs name="chevron-double-right" width="12" height="12"></i-bs></button>
        </ng-template>
    </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2 containerSelection"></div>