<div class="newsContainer">
  <div class="d-flex">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
      <li ngbNavItem="{{ i+1 }}" *ngFor="let n of newsList; index as i">
        <a ngbNavLink class="largeButtonNews">{{ n?.name }}</a>
        <ng-template ngbNavContent>
          <div class="newsCard">
            <img [src]="n?.thumb" class="newsImage">
            <div class="newsText">
              <h4>{{ n?.name }}</h4>
              <p>{{ n?.subtitle }}</p>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
  
    <div [ngbNavOutlet]="nav" class="ms-4"></div>
  </div>
</div>